@import './variables.scss';

.layout-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.layout-container {
  flex: auto;
  background-color: #f0f2f5;
}

.layout-sider-placeholder {
  overflow: hidden;
  width: $layout-sider-width;
  flex: 0 0 $layout-sider-width;
}

.layout-header-placeholder {
  width: 100%;
  height: 48px;
  line-height: 48px;
}

.layout-main-content {
  margin: 24px;
  position: relative;
}

@import './header.scss';
@import './logo.scss';
@import './space.scss';
@import './sider.scss';

.layout-sider-collapsed {
  width: 64px;
  flex: 0 0 64px;
  transition: all .3s;
}
