/**
 * 当前文件用来创作全局样式
 */

$text-color: rgba(0, 0, 0, 0.85);

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  color: $text-color;
  background-color: #f0f2f5;
  font-family: Arial, 'Courier New', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color:inherit;
  text-decoration: none;
}

@import './layout/index.scss';
